{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}

<h1>Editing Posts</h1>

<hr>
<h2>Edit Blog Post</h2>
<form action='/posts/edit/{{ post.id }}' method="POST">
    <label for="title">Title: </label>
    <input class="form-control" type="text" name='title' id='title' value="{{ post.title }}" aria-label="Enter Title">
    <br>
    <label for="title">Author: </label>
    <input class="form-control" type="text" name='author' id='author' value="{{ post.author }}"
        aria-label="Enter Author">
    <br>
    <label for="title">Posts: </label>
    <textarea class="form-control" name='content' id="content" aria-label="Enter Content"
        rows="3">{{ post.content }}</textarea>
    <br>
    <button type="submit" class="btn btn-success" value="Save">Save</button>
    <button type="reset" class="btn btn-warning" value="Clear">Clear</button>
</form>

{% endblock %}